# Advent of Code

In [237]:
import pandas as pd
import numpy as np
import aocd  # https://github.com/wimglenn/advent-of-code-data
import collections
import itertools
import re

## Day 1

In [2]:
d1 = aocd.get_data(day=1)

In [4]:
def aoc11(data):
    s1 = set(int(x) for x in data.split('\n'))
    s2 = set(2020 - int(x) for x in data.split('\n'))
    a1 = np.prod(list(s1.intersection(s2)))
    return a1

In [6]:
def aoc12(data):
    s1 = set(int(x) for x in data.split('\n'))
    s2 = set(2020 - int(x) for x in data.split('\n'))
    a2 = np.prod(list(set(a for a in s1 for b in s1 if a+b in s2)))
    return a2

In [5]:
%timeit aoc11(d1)

108 µs ± 276 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [7]:
%timeit aoc12(d1)

3.11 ms ± 29.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [4]:
s1 = set(int(x) for x in d1.split('\n'))
s2 = set(2020 - int(x) for x in d1.split('\n'))

In [5]:
a1 = np.prod(list(s1.intersection(s2)))

In [35]:
aocd.submit(a1, part='a', day=1, year=2020)

You don't seem to be solving the right level.  Did you already complete it? [Return to Day 1]

In [6]:
a2 = np.prod(list(set(a for a in s1 for b in s1 if a+b in s2)))

In [46]:
aocd.submit(a2, part='b', day=1, year=2020)

That's the right answer!  You are one gold star closer to saving your vacation.You have completed Day 1! You can [Shareon
  Twitter
Mastodon] this victory or [Return to Your Advent Calendar].

## Day 2

In [8]:
d2 = aocd.get_data(day=2)

In [22]:
pswd = d2.split('\n')

In [26]:
t = 0
for e in pswd:
    p_list = e.split()
    low = int(p_list[0].split('-')[0])
    high = int(p_list[0].split('-')[1])
    ltr = p_list[1][0]
    pwd = p_list[2]
    if pwd.count(ltr) >= low and pwd.count(ltr) <= high:
        t +=1

t

458

In [28]:
t = 0
for e in pswd:
    p_list = e.split()
    low = int(p_list[0].split('-')[0])
    high = int(p_list[0].split('-')[1])
    ltr = p_list[1][0]
    pwd = p_list[2]
    if (pwd[low-1] == ltr and pwd[high-1] != ltr) or (pwd[low-1] != ltr and pwd[high-1] == ltr):
        t +=1

t

342

## Day 3

In [2]:
d3 = aocd.get_data(day=3)

In [33]:
def slope(var):
    out = 0
    x = var // 10
    y = var % 10
    for i,e in enumerate(d3.split()[::y]):
        if i == 0:
            next
        if e[(i*x) % len(e)]=='#':
            out += 1 
    return out

#part 1
print(slope(31))

#part 2
p=1
for s in [11,31,51,71,12]:
    p *= slope(s)
print(p)

211
3584591857

## Day 4

In [36]:
d4 = aocd.get_data(day=4, year=2020)

In [41]:
passports = d4.split('\n\n')

In [49]:
#Part 1
d4 = aocd.get_data(day=4, year=2020)
passports = d4.split('\n\n')
valdict = {'byr':1,'eyr':1,'pid':1,'hgt':1,'iyr':1, 'ecl':1, 'hcl':1,'cid':0}
valid = 0
for passport in passports:
    if sum([valdict.get(p.split(':')[0]) for p in passport.split()]) == 7:
        valid += 1
print(valid)

200

In [86]:
def passport_check(byr='0', eyr='0',pid='0',hgt='0',iyr='0', ecl='0', hcl='0',cid=None):
    if int(byr) < 1920 or int(byr) >2002:
        return 0
    if int(iyr) < 2010 or int(iyr) >2020:
        return 0
    if int(eyr) < 2020 or int(eyr) >2030:
        return 0

    if hgt[-2:]=='in':
        if int(hgt[:-2]) < 59 or int(hgt[:-2]) > 76:
            return 0
    elif hgt[-2:]=='cm':
        if int(hgt[:-2]) < 150 or int(hgt[:-2]) > 193:
            return 0
    else:
        return 0

    if not(re.match(r'^#[a-f0-9]{6,6}$',hcl)):
        return 0

    if ecl not in ('amb', 'blu', 'brn', 'gry', 'grn', 'hzl', 'oth'):
        return 0

    if not(re.match(r'^[0-9]{9,9}$',pid)):
        return 0

    return 1

In [87]:
valid = 0
for passport in passports:
    valid += passport_check(**{p.split(':')[0] : p.split(':')[1] for p in passport.split()})
print(valid)

116

In [155]:
passports = [p.split() for p in d4.split('\n\n')]
passports_dict = []
for p in passports:
    passports_dict.append(dict(e.split(':') for e in p))

In [158]:
df = pd.DataFrame(passports_dict)

In [159]:
df.dropna(subset=["iyr", "ecl", "hgt", "pid", "byr", "hcl", "eyr"]).shape[0]

200

In [172]:
# pd.to_numeric(df.hgt.str[:-2], errors='coerce') > 1
df['byr'] = pd.to_numeric(df.byr,errors='coerce')
df['eyr'] = pd.to_numeric(df.eyr,errors='coerce')
df['iyr'] = pd.to_numeric(df.iyr,errors='coerce')
df['hgtn'] = pd.to_numeric(df.hgt.str[:-2],errors='coerce')
df['hgtl'] = df.hgt.str[-2:]

In [186]:
df[   (df.byr.between(1920, 2002))
    & (df.iyr.between(2010, 2020))
    & (df.eyr.between(2020, 2030))
    & (df.ecl.isin(["amb", "blu", "brn", "gry", "grn", "hzl", "oth"]))
    & (df.pid.str.match(r'^[0-9]{9}$'))
    & (df.hcl.str.match(r'^#[a-f0-9]{
        6}$'))
    & ( ((df.hgtl == 'cm') & (df.hgtn.between(150,193))) |
        ((df.hgtl == 'in') & (df.hgtn.between( 59, 76))) )
    ]

        byr     eyr        pid    hgt     iyr  ecl      hcl  cid   hgtn hgtl
0    1937.0  2030.0  154364481  158cm  2015.0  brn  #c0946f  155  158.0   cm
2    1953.0  2023.0  282499883  181cm  2011.0  brn  #341e13  NaN  181.0   cm
4    1966.0  2020.0  900693718  153cm  2014.0  gry  #866857  NaN  153.0   cm
5    1939.0  2020.0  900852891  162cm  2020.0  oth  #b6652a  NaN  162.0   cm
7    1938.0  2020.0  136823471  180cm  2011.0  gry  #c0946f  146  180.0   cm
..      ...     ...        ...    ...     ...  ...      ...  ...    ...  ...
252  1979.0  2028.0  874418818  166cm  2014.0  brn  #5311ca  202  166.0   cm
253  1987.0  2027.0  986096798  161cm  2019.0  grn  #6b5442   74  161.0   cm
255  1965.0  2023.0  214991920  185cm  2010.0  brn  #866857  236  185.0   cm
256  1948.0  2025.0  885169578  175cm  2010.0  hzl  #18171d  NaN  175.0   cm
262  1979.0  2023.0  945115479  188cm  2014.0  blu  #b6652a  NaN  188.0   cm

[116 rows x 10 columns]

## Day 5

In [187]:
d5 = aocd.get_data(day=5,year=2020)

In [202]:
d5 = d5.replace('B','1')
d5 = d5.replace('F','0')
d5 = d5.replace('R','1')
d5 = d5.replace('L','0')

seat_val = []
for seat in d5.split():
    seat_val.append(int(seat[:7],2) * 8 + int(seat[7:],2))

933

In [195]:
max(seat_val)

1865

In [206]:
for i in range(min(seat_val),max(seat_val)):
    if i not in seat_val:
        print(i)

711

## Day 6

In [211]:
d6 = aocd.get_data(day=6,year=2020)

In [235]:
a = 0
for q in d6.split('\n\n'):
    a += len(collections.Counter(q.replace('\n','')))

print(a)

6310

In [234]:
a=0
for q in d6.split('\n\n'):
    g_dict = collections.Counter(q.replace('\n',''))
    g_size = len(q.split())
    for v in g_dict.values():
        if v == g_size:
            a += 1
print(a)

3193

## Day 7

In [238]:
d7 = aocd.get_data(day=7,year=2020)

In [242]:
all_bags = d7.split('\n')

In [312]:
# parse data into dict of dicts
all_bag_list = {}
for rule in all_bags:
    bag_list = rule.split('bags contain')
    container = bag_list[0].strip()
    contents = bag_list[1].split(',')
    nums = []
    colors = []
    for detail in contents:
        nums.append(int(detail.replace('no other ','0 ').split()[0].strip()))
        for color in re.split(r"\d ",detail)[1:]:
            colors.append(color.split(' bag')[0])
    all_bag_list[container] = dict(zip(colors,nums))

In [314]:

# part 1
out = ['shiny gold']

restart = 1

while restart == 1:
    restart = 0
    # look at all parent / child relationships
    for parent, children in all_bag_list.items():

        for child, num in children.items():
            # test if each child is in the test set
            # if the parent is already included skip, otherwise add parent and rerun from the beginning
            if child in out and parent not in out:
                out.append(parent)
                restart = 1

# find length of unique set and remove seed value
print(len(set(out))-1)

161

In [351]:
# PART 2

new = [['shiny gold',1]]
cnt = 0

while len(new) != 0:
    add_item, mult = new.pop()
    for k,v in all_bag_list.get(add_item).items():
        new.append([k,v * mult])
        cnt += v * mult
print(cnt)

30899